.dropbtna {
    background-color: #e1382d;
	position:relative;
	width:400px;
	height:50px;
    color: white;
    font-size: 16px;
	margin-left:20px;
	border-radius:30px;
    border: none;
    cursor: pointer;
	position: relative;
    display: inline-block;
	margin-top:-25px;
}

.first-row{
	height: -webkit-calc(100% - 70pt);
	height:    -moz-calc(100% - 70pt);
	height:         calc(100% - 70pt);
	width: 100%;
}

.second-row{
	height: 70pt;
    right:0px;
    bottom:0px;
	width: 100%;
}

.m-table{
	width: 100%;
}

paper-button.custom:hover {
	background-color: #00b0ff;
}

paper-button.white {
	background-color: white;
	color: #555555;
	--paper-button-raised-keyboard-focus: {
		background-color: var(--paper-pink-a200) !important;
		color: white !important;
	};
}

paper-tabs{
	--paper-tabs-selection-bar-color: #F44336;
}

paper-button.indigo {
	background-color: #1e88e5;
	color: white;
	--paper-button-raised-keyboard-focus: {
		background-color: var(--paper-pink-a200) !important;
		color: white !important;
	};
}

.dialog-content{
	height: -webkit-calc(100% - 70px);
	height:    -moz-calc(100% - 70px);
	height:         calc(100% - 70px);
}

textarea{
	font-size:20px;
	outline: none;
	border:none;
    width: -webkit-calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    width: calc(100% - 60px);
}

.dropmenu{
	position:absolute;
	margin-top:-3px;
}

.segdialog{
	width:80%;
	height:80%;
	margin:0;
	padding:0;
}

.tipobig{
	display:block;
}

.tiposmall{
	display:none;
}

.dropdown{
	width:400px;
}

.dropbtna:hover, .dropbtna:focus {
    background-color: #d0271c;
    outline: none;
}

.gpsfab{
    position:absolute;
    left:20px;
    --paper-fab-mini:true;
    bottom:-28px;
    background-color:#e1382d;
}

.camerafab{
    position:absolute;
    right:20px;
    margin-left:0;
    bottom:-28px;
}

my-menu{
    position:absolute;
    bottom:-25pt;
    left: 70px;
    margin-left: 0;
    margin-right: 0;
}

iron-pages{
    top:64px;
}
/* Dropdown Content (Hidden by Default)
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
	left:50px;
    min-width: 160px;
	height:150px;
	overflow:scroll;
	z-index:10;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
*/
/* Links inside the dropdown
.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
*/
/* Change color of dropdown links on hover
.dropdown-content p:hover {background-color: #f1f1f1}
*/
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button)
.show {display:block;}
*/
@media only screen and (max-width: 800px), only screen and (max-device-width: 800px){
	.dropbtna{
		width:200px;
	}

	.dropdown{
		width:200px;
	}

	.tipobig{
		display:none;
	}

	.tiposmall{
		display:block;
	}

	textarea{
		margin:0 auto 0 auto;
		resize:none;
		font-size:30px;
		border:none;
		width: auto;
		outline: none;
	}

	.segdialog{
		width:100%;
		height:100%;
		margin:0;
		padding:0;
	}
}

@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {

    iron-pages {
        top: 56px;
    }

}

@media only screen and (max-width: 410px), only screen and (max-device-width: 410px) {

    my-menu{
        left: 30%;
    }

    .camerafab{
        left: 19%;
    }

    .gpsfab{
        left: 3%;
    }


}
